body {
    font-family: "Fira Sans", serif;
    background-color: #f5f5f5;
    width: 1600px;
    margin: 0 auto;
}

/* HEADER */
.header {
    width: 1600px;
    margin: 0 auto;
}


/* NAVIGATION */

.nav-title {
    font-size: 32px;
    color: #0E0E0E;
    font-weight: 600;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > ul > li {
    list-style-type: none;
}

/* PRIMARY STYLE */
.primary-color {
    color: #006A50;
}

.btn {
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    padding: 11px 20px 11px 20px;
    border: none;
    cursor: pointer;
}

.primary-btn {
    padding: 17px 34px;
    font-weight: 600;
    font-size: 18px;
    background-color: #006A50;
    border-radius: 8px;
    border: 1px solid #006A50;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
.primary-btn:hover {
    padding: 17px 34px;
    font-weight: 600;
    font-size: 18px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #006A50;
    color: #006A50;
    cursor: pointer;
}

.btn-transparent {
    padding: 15px 30px;
    font-weight: 600;
    font-size: 15px;
    background-color: transparent;
    border-radius: 8px;
    width: 116px;
    height: 52px;
    border: 1px solid #006A50;
    cursor: pointer;
}
.btn-transparent:hover {
    background-color: #006A50;
    color: #fff;
}


/* BANNER SECTION */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 117.5px 59.99px;
    margin-top: 20px;
}

.banner-subtitle {
    font-size: 24px;
    font-weight: 500;
    color: rgba(0, 14, 14, 0.5);
    margin: 0;
    
}
.banner-heading {
    color: rgb(14, 14, 14);
    font-size: 57px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    width: 622px;
    height: 201px;
    margin-top: 16px;
    margin-bottom: 14px;
}

.banner-hero-image {
    background-size: cover;
    width: 474.03px;
    height: 329.21px;   
}


/* The Vision of Future Section */

.future-section {
    margin-top: 80px;
    margin-bottom: 80px;
}
.future-section .future-subtitle {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin: 0;
}
.future-section .future-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 16px;
}
.future-section .future-content-item {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
}

.future-section .future {
    padding: 32px;
    border-radius: 16px;
    margin-top: 16px;
}

.future-section .bg-future-1 {
    background: rgba(84, 144, 245, 0.2);
}
.future-section .bg-future-2 {
    background: rgb(198, 228, 214);
}
.future-section .bg-future-3 {
    background: rgb(247, 235, 207);
}


.future-section .btn-future-1 {
    background: rgb(84, 144, 245);
}
.future-section .btn-future-2 {
    background: rgb(9, 161, 92);
}
.future-section .btn-future-3 {
    background: rgb(255, 194, 57); 
}


.future-section .card-icon {
    width: 62px;
    height: 62px;
}




.future-section .future-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.future-section .future-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* Testimonial Section */
.testimonial {
    margin-bottom: 80px;
    padding: 48px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px; 
    background: rgb(255, 255, 255);
}

.testimonial .testimonial-content {
    background: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    
}

.testimonial .testimonial-description {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 27px;
}
.testimonial .testimonial-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin: 0;
}
.testimonial .testimonial-subtitle {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 10px;
}

/* RECENT NEWS */
.recent-news {
    margin-bottom: 80px;
}

.recent-news .blog-content {
    background-color: #fff;
    padding: 48px;
    border-radius: 24px;
}

.recent-news .news-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin: 0;
}
.recent-news .news-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.recent-news .blog-post-1 {
    display: flex;
    align-items: center;
}

.blog-content .blog-image {
    width: 408px;
    height: 306px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px;
    border-radius: 24px;
}

.recent-news .recent-news-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 12px;
}
.recent-news .blog-content .news-chanel-logo {
    width: 134px;
    height: 40px;
    margin: 0;
}
.blog-content .post-date {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.blog-content .post-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.blog-mt {
    margin-top: 30px;
}

/* DONATE SECTION */
.donate {
    margin-bottom: 80px;
    text-align: center;
}
.donate .donate-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
}
.donate .donate-subtitle {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 1104px;
    margin: 24px auto 0;
}
.donate .donate-price-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    width: 1104px;
    margin: auto;
}
.donate .donate-price-card-item {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin: 32px 0;
}
.donate-price-card-item h2 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.donate button {
    margin-top: 32px;
}

.donate .donate-custom-price input[type]




/* FOOTER SECTION */ 
.footer {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer-title {
    text-align: center;
    padding-bottom: 32px;
    margin: 0px;
}
.footer .footer-social-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;
}
.footer-content .social-item {
    list-style-type: none;
    padding-top: 32px;
}
 hr {
    max-width: 80%;
    margin: auto;
 }
